<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Post time:</b>
  <%= @post.post_time %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<h2>&darr;Comments&darr;</h2>
<div id="comments-list">
	<% @post.comments.each_with_index do |c,idx| %>
	<p><span>#<%= idx+1 %>: <%= c.name %></span>:
	<%= c.content %></p>
	<% end %>
	
	<hr />
	<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :name%><br />
		<%= f.text_field :name%><br />
	</div>
	<div class="field">
		<%= f.label :email%><br />
		<%= f.text_field :email%><br />
	</div>
	<div class="field">
		<%= f.label :content%><br />
		<%= f.text_area :content%><br />
	</div>
	<div class="actions">
		<%= f.submit %>
	</div>
	<% end %>
</div>
